/* autocomplete box */
.ui-menu .ui-menu-item {
    position: relative; 
    background: #fff;
	border: 1px solid #ddd;
	border-radius: .3125em;
	/*box-shadow: inset 0 1px 3px rgba(0,0,0,.2);*/
    width:64%;
    list-style-type: none;
    margin: 0;
    padding: 3px;
    z-index:100;
}
.ui-menu-item:hover {
    cursor: pointer;
}

/* slider */
.ui-slider-track {
    left: 60px;
    width: inherit;
}

/* inline icon (for dividers) */
.inlineIcon {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 6px;
}